header {
  height: 32px;
  width: 100%;
  background: #45525c; /* Old browsers */
  background: -moz-linear-gradient(top,  #45525c 0%, #2a2f32 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #45525c 0%,#2a2f32 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #45525c 0%,#2a2f32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45525c', endColorstr='#2a2f32',GradientType=0 ); /* IE6-9 */
}

header img {
  float: left;
  padding: 9px 0 0 20px;
}

header #user-tools {
  float: right;
}

header ul {
  margin: 0;
  padding: 0;
}

header ul p {
  display: inline-block;
  color: #eee;
  font-size: 11px;
}

header ul li {
  display: inline-block;
  color: #99cce1;
  font-size: 11px;
  border-right: 1px solid #adaeaf;
  padding: 0 6px 0 0;
}

header ul li:first-child {
  border-right: 0px;
  padding: 0 6px 0 4px;
}

header ul li:last-child {
  border-right: 0px;
  padding: 0 10px 0 0;
}