.pulse-box .active{
    -moz-transform : scale(2);
    -webkit-transform : scale(2);
    -o-transform : scale(2);
    z-index: 9999999;
}

.pulse-box .inactive {
    -moz-transform : scale(1);
    -webkit-transform : scale(1);
    -o-transform : scale(1);
    z-index : 0;
}