/*
styles for screenshot.html
*/
body{
	font-size: 11px;
	/*bootstrap override*/
}
a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.top-nav {
	width: 100%;
	height: 30px;
    background: -webkit-linear-gradient(#545454, #151515);
    background: -o-linear-gradient(#545454, #151515);
    background: -moz-linear-gradient(#545454, #151515);
    background: linear-gradient(#545454, #151515); /* will change to navy if time allows */
    padding: 6px;
}
.top-nav li{
	display: inline-block;
	padding-left: 4px;
}

.logo{
	height: 20px;
	width: 50%;
	background-repeat: no-repeat;
	background-image: url(img/ET-logo.png);
	float: left;
}

.links-right{
	text-align: right;
	color: #fff;
}

.links-right a{
	color: #939393;
}

/*SIDE NAVIGATION STYLES*/
.interactive{
	border-radius: 5px;
	background-color: #f6f6f6;
	border: 1px solid #bdbdbd;
	margin: 5px;
}
.interactive-header{
	background-color: orange;
	padding: 22px;
	color:#fff;

}
.side-nav a{
	color: #545454;
}
.side-nav > li > a:hover{
	background-color: #E0e0e0;
	color: #ffffff;
	cursor: pointer;
}
.side-nav > li > a:active{
	background-color: black;
    color: #ffffff;
    cursor: pointer;
}
/*MAIN CONTENT*/
.content{
	z-index: -1;
}
.content-section{
	margin-top: -5px;
}
/*CALENDAR*/
.calendar{
    background-color: #eee;
    border-radius: 10px;
    height: 150px;
    width: 100%;
}
.calendar-square{
	border: 1px solid #bdbdbd;
	height: 100%;
	padding: 15px;
}





