ul {
  list-style-type: none;
}
#header {
  height: 32px;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(#45525c, #2a2f32);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(#45525c, #2a2f32);
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(#45525c, #2a2f32);
  /* Standard syntax (must be last) */
  background: linear-gradient(#45525c, #2a2f32);
}
#header div {
  display: inline-block;
}
#header .account-menu {
  padding: 8px 0 8px 20px;
}
#header .account-menu ul {
  display: inline;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}
#header .account-menu ul li {
  float: left;
  color: #FFFFFF;
  padding-right: 5px;
  font-size: 0.75em;
}
#header .account-menu ul li a {
  color: #009DDC;
}
#header .logo {
  width: 200px;
  padding: 8px 0 8px 20px;
  color: #FFFFFF;
}
#left-nav {
  width: 180px;
}
#left-nav .nav-text {
  font-family: Arial;
  font-size: 0.75em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
