body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
}

#header {
    float: left;
    height: 40px;
    width: 100%;
    background-image: url('../images/UI_CandidateTest_IMH_dashboard_01.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#content {
    float: left;
    background: #FFFFFF;
    width: 850px;
}

#leftcolumn {
    background: #FFFFFF;
    width: 180px;
    float: left;
}

a:link{
    color: #93c3d7;
}



#header_temp {
    height: 40px;
    width: 100%;
    background-image: url('../images/UI_CandidateTest_IMH_dashboard_01.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.black {
    height: 40px;
    width: 40%;
    background-image: url('../images/header_bg.jpg');
    background-size: 100% 100%;
}

.stripList {
    text-decoration: none;
    list-style-type: none;
}

.hr {
     width:100%;
     height:15px;
 }

.hrModifiy {
    width:30%;
    height:1px;
    background-color: gray;
}


.pulseImage {
    background-image: url('../images/UI_CandidateTest_IMH_dashboard_01.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}