
/* CCS */

body {
	max-width: 1250px;
	max-height: 800px;
  background-color: #FFFFFF;
}


#Table_01 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:798px;
}

#header_ {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:33px;
}

#cal_ {
  position:absolute;
  left:221px;
  top:33px;
  width:994px;
  height:112px;
}

#scroll_ {
  position:absolute;
  left:1233px;
  top:33px;
  width:17px;
  height:765px;
}

#imhx20base_ {
  position:absolute;
  left:20px;
  top:52px;
  width:181px;
  height:60px;
}


#email {
  background-image: url('../images/email-base.jpg');
  position:absolute;
  left:29px;
  top:112px;
  width:24px;
  height:24px;
}

#email:hover {
  background-image: url('../images/hover/email-hover.jpg');
}

#email.active {
  background-image: url('../images/active/email-active.jpg');
}

#mobile {
  background-image: url('../images/mobile-base.jpg');
  position:absolute;
  left:29px;
  top:145px;
  width:24px;
  height:24px;
}

#mobile:hover {
  background-image: url('../images/hover/mobile-hover.jpg');
}

#mobile.active {
  background-image: url('../images/active/mobile-active.jpg');
}

#tweet {
  background-image: url("../images/tweet-base.jpg");
  position:absolute;
  left:29px;
  top:177px;
  width:24px;
  height:24px;
}

#tweet:hover {
  background-image: url('../images/hover/tweet-hover.jpg');
}

#tweet.active {
  background-image: url('../images/active/tweet-active.jpg');
}

#sites {
  background-image: url("../images/sites-base.jpg");
  position:absolute;
  left:29px;
  top:209px;
  width:24px;
  height:24px;
}

#sites:hover {
  background-image: url('../images/hover/sites-hover.jpg');
}

#sites.active {
  background-image: url('../images/active/sites-active.jpg');
}

#studio {
  background-image: url("../images/studio-base.jpg");
  position:absolute;
  left:29px;
  top:253px;
  width:24px;
  height:25px;
}

#studio:hover {
  background-image: url('../images/hover/studio-hover.jpg');
}

#studio.active {
  background-image: url('../images/active/studio-active.jpg');
}


#audience {
  background-image: url("../images/audience-base.jpg");
  position:absolute;
  left:29px;
  top:286px;
  width:24px;
  height:24px;
}

#audience:hover{
  background-image: url('../images/hover/audience-hover.jpg');
}

#audience.active {
  background-image: url('../images/active/audience-active.jpg');
}

#report {
  background-image: url("../images/report-base.jpg");
  position:absolute;
  left:29px;
  top:319px;
  width:24px;
  height:24px;
}

#report:hover {
  background-image: url('../images/hover/report-hover.jpg');
}

#report.active {
  background-image: url('../images/active/report-active.jpg');
}

/* Pulse Area */

#pulse_ {
  position:absolute;
  left:221px;
  top:166px;
  width:994px;
  height:35px;
}


#followers {
  background-image: url("../images/small/followers-small.jpg");
  position:absolute;
  left:234px;
  top:253px;
  width:160px;
  height:117px;
}

#followers.lg {
  background-image: url("../images/large/followers-large.jpg");
  z-index: 99;
  position:absolute;
  left:234px;
  top:201px;
  width:280px;
  height:187px;
}

#fan {
  background-image: url("../images/small/Fan-small.jpg");
  position:absolute;
  left:406px;
  top:253px;
  width:159px;
  height:116px;
}

#fan.lg {
  background-image: url("../images/large/Fan-large.jpg");
  z-index: 99;
  position:absolute;
  left:406px;
  top:201px;
  width:280px;
  height:187px;
}


#subcribers {
  background-image: url("../images/small/subcribers-small.jpg");
  position:absolute;
  left:577px;
  top:253px;
  width:159px;
  height:116px;
}

#subcribers.lg {
  background-image: url("../images/large/fan-large.jpg");
  z-index: 99;
  position:absolute;
  left:577px;
  top:201px;
  width:280px;
  height:187px;
}

#foursquare {
  background-image: url("../images/small/foursquare-small.jpg");
  position:absolute;
  left:747px;
  top:253px;
  width:160px;
  height:116px;
}

#foursquare.lg {
  background-image: url("../images/large/foursquare-large.jpg");
  z-index: 99;
  position:absolute;
  left:747px;
  top:201px;
  width:280px;
  height:187px;
}


#landingpages {
  background-image: url("../images/small/landingpages-small.jpg");
  position:absolute;
  left:918px;
  top:253px;
  width:160px;
  height:116px;
}

#landingpages.lg {
  background-image: url("../images/large/fan-large.jpg");
  position:absolute;
  left:918px;
  top:201px;
  width:280px;
  height:187px;
}

.ui-dialog {
  background: #CCC;
}