/* style.css */

/* @import bootstrap.css */


select#mySelect {
  padding-top: 50px;
  margin: 40px 0 20px 30px;
}

input#callfunc {
  margin-left: 20px;
}

a.link {
  margin: 10px 0 20px 30px;
}

#baz {
margin: 10px 0 20px 30px;
}

#foobar {
margin: 10px 0 20px 30px
}

button {
  margin-left: 20px;
}


input#chk {
  margin-left: 10px;
}