/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  margin-top: 20px;
  margin-left: 20px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-brand,
.navbar-brand > span:hover,
.navbar-brand > span{
	color:#ffffff;
}
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background-color: #f8f8f8;
  
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
 
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a.hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #FFC04C;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
* Pulse 
*/

#pulsebody{
  background: #f5f9f9;
}

iframe {
  width: 1180px;
  height: 400px;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 10px;
  left: 10px;
  background-color: #acc3db;
}

#panelgroup{
   margin-top: 150px;
   background: #f5f5f5;
}

.floating-panel{
  float:left;
  width: 180px;
  height: 120px;
  margin: 15px;
  background: #f5f5f9;
  border: solid #ececec 1px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #000000;
  position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}

.clicked
{
    margin:15px;
    box-shadow: 0px 0px 15px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.25);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.25);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.25);
    transition: all 200ms ease-in;
    transform: scale(1.25);
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
