
//This styles the header of the dashboard

header
    +lingrad(#45525C, #2A2F33)
    height: 32px
    .logo
        margin: 9px 0px 0px 20px

#headerText
    float: right
    height: 32px
    line-height: 32px
    span
        color: #EEE
        font-family: arial, sans-serif
        font-size: 11pt
    ul
        display: inline-block
        li
            display: inline-block
            a
                color: #99CCE1