
//Inline CSS that was originally on the JsAndDom.html page

#jsanddom
    padding: 10px
    #foo,
    #baz,
    #foobar
        margin-top: 10px

li
    list-style: disc
    margin: 0px 0px 0px 50px