
//Inline CSS that was originally on the JsAndDom.html page

#jsanddom
    padding: 10px
    #foo,
    #baz,
    #foobar
        margin-top: 10px

li
    list-style: disc
    margin: 0px 0px 0px 50px

#foobar
    p
        margin: 20px 0px 0px 0px
    ul
        margin: 10px 0px 0px 0px
    input
        margin: 0px 5px 0px 0px
    a
        cursor: pointer
        color: #00A
        text-decoration: underline
        &:hover
            color: #66D