
// This styles the calendar widget on the dashboard

#pulseContainer
    +bmp0
    +boxshadow(0px, 0px, 2px, rgba(0,0,0,0.1))
    +pulseBg
    border-radius: 4px
    display: inline-block
    left: 1px
    position: relative
    width: $widgetWidth

#pulse
    +boxshadowinset(0px, 0px, 25px, rgba(0,0,0,0.3))
    background-color: transparent
    background-image: url('../img/pulsegraphic.png')
    background-position: 0px 20px
    background-repeat: no-repeat
    border-radius: 4px
    h3
        color: #FFF
        font-family: arial, sans-serif
        font-size: 18pt
        -webkit-font-smoothing: subpixel-antialiased
        position: absolute
        top: 10px
        left: 10px
        text-shadow: 0px 1px 1px rgba(88,139,172,0.6)

.pulseCollapse
    height: 50px

.pulseExpand
    height: $pulseHeight

.pulseLinkSmall
    font-size: 0px

.pulseLinkLarge
    font-size: $headerFontSize

.pulseItem
    display: inline-block
    margin: 90px 0px 0px 0px
    .pulseItemBox
        background-image: url('../img/pulseboxsmall.png')
        background-repeat: no-repeat
        background-position: top center
        cursor: pointer
        height: 101px
        width: 172px
    h1,
    h2,
    h4
        text-align: center
    h1
        color: #34BBF3
        font-size: 28pt
        margin: 0px
        padding: 9px 0px 0px 0px
        span
            color: #93AFC0
            font-size: 18pt
    h2
        color: #93AFC0
        font-size: 14pt
        margin: 0px
    h4
        color: #93AFC0
        font-size: 9pt
        margin: 0px
        padding: 7px 0px 0px 0px

.soulja
    h2
        padding: 10px 0px 0px 0px
    h1
        padding: 0px

.pulseItemTitle
    color: #7F91A3
    font-family: arial, sans-serif
    font-size: 12pt
    text-align: center

.pulseItemSelected
    display: inline-block
    margin: 70px 0px 0px 0px
    h1,
    h2,
    h4
        text-align: center
    h1
        font-size: 10pt
    h2
        font-size: 10pt
    h4
        font-size: 10pt

.pagination
    margin: 0 auto
    text-align: center
    span
        background-color: #C8D0D6
        display: inline-block
        height: 3px
        margin: 0px
        padding: 0px
        width: 4px
        vertical-align: bottom
    .group
        background-color: #D7E3EC
        border: 1px solid #B7C6D1
        border-radius: 4px
        display: inline-block
        margin: 0px
        padding: 3px 2px
        height: 13px
        vertical-align: bottom
        span
            color: #C0CED8
            vertical-align: text-top
    .selected
        border-radius: 4px
        height: 5px
        width: 7px


//<div class="pagination">
//  <span></span>
//  <span></span>
//  <div class="group">
//    <span></span>
//    <span></span>
//    <span></span>
//    <span class="selected"></span>
//    <span></span>
//  </div>
//</div>