$navbar-bg: linear-gradient(#44515a, #2a2f33);
$navbar-text-color: #fff;
$navbar-link-color: #92c2d6;

// Decrease navbar to ExactTarget specifications
$navbar-padding-horizontal: 10px;
$navbar-padding-vertical: 10px;
$navbar-height: 40px;
