//
// Created with TexturePacker http://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:40066b34335eb1792c14056dc814f750:99921871a8f050160f966f7dfb4948d8:53193689a85266cca2cb5c12f5c91831$
//

.sprite-et-spritesheet { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('../images/et-spritesheet.png'); }

.et-spritesheet-icon-audience { width: 24px; height: 26px; background-position: -2px -2px; }
.et-spritesheet-icon-automation { width: 24px; height: 26px; background-position: -28px -2px; }
.et-spritesheet-icon-cotweet { width: 24px; height: 26px; background-position: -54px -2px; }
.et-spritesheet-icon-email { width: 24px; height: 26px; background-position: -80px -2px; }
.et-spritesheet-icon-hub { width: 51px; height: 51px; background-position: -106px -2px; }
.et-spritesheet-icon-mobile { width: 24px; height: 26px; background-position: -159px -2px; }
.et-spritesheet-icon-partner { width: 13px; height: 13px; background-position: -185px -2px; }
.et-spritesheet-icon-report { width: 24px; height: 26px; background-position: -200px -2px; }
.et-spritesheet-icon-sites { width: 24px; height: 26px; background-position: -226px -2px; }
