@import "variables.less";

#header {
    color: @white;
}

#header a {
    margin:  0 6px 0 3px;

    color: @light-blue;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#signed-in {
    width: 300px;

    padding-top: 3px;
    float: right;
}