/***********************************
colors
************************************/

@white:                 #fefffd;
@light-blue:            #99cce1;





/***********************************
fonts
************************************/

@arial:                 'Arial', 'Helvetica', 'sans-serif';