/***********************************
colors
************************************/
@extra-light-gray:      #f4f4f5;
@grey:                  #888888;
@light-blue:            #99cce1;
@hover-gray:            #c3c3c4;
@orange:                #f8981d;
@span-gray:             #666666;
@white:                 #fefffd;



/***********************************
fonts
************************************/

@arial:                 'Arial', 'Helvetica', 'sans-serif';