/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}

/* Sidebar navigation */
.sidebar-nav {width:95%;border:1px solid rgb(224,224,224);border-radius: 8px;padding-left:10px;background-color:rgb(250,250,250);}
.sidebar-nav ul li {padding:7px;font-size:14px;}
.sidebar-nav ul li.partner {font-size:12px;}
.sidebar-nav h5 {color:white;}
.sidebar-nav ul li a {color:rgb(164,164,165);padding:0;}
.sidebar-nav ul li a:hover {color:black;background-color:rgb(250,250,250);}
.sidebar-nav hr {margin:10px 0px 10px -10px;color:rgb(224,224,224);border: 1px 0px 0px 0px solid rgb(224,224,224) ;}

nav.navbar-inverse {background:linear-gradient(rgb(51,62,70),rgb(66,67,69));}
.nav>li>a {padding:15px 1px;}
.nav>li:last-child>a {padding-right:5px;}
/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
