#main {
	margin-top: 50px;
}

#calendar, #pulse {
	border: 1px solid #9e9e9e;
	border-radius: 5px;
	font-size: 9px;
	color: #9e9e9e;
}

#calendar ul, #pulse ul {
	margin-left: 5px;
	margin-bottom: 5px;
}

#calendar ul li {
	display: inline-block;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	width: 131px;
	min-height: 75px;
	position: relative;
}

#calendar ul li.last {
	border-right: 1px solid #eeeeee;
}

#calendar ul li.today {
	background-color: #FEE8D6;
}

#calendar ul li p {
	position: absolute;
	top: 0;
}

#calendar ul li p.weekday {
	left: 3px;
}

#calendar ul li p.date {
	right: 3px;
}

#calendar h6 {
	margin: 5px;
}

#pulse {
	margin-top: 20px;
}

#pulse h3 {
	margin-left: 10px;
}

#pulse ul li {
	display: inline-block;
	margin: 16px;
}

#pulse ul li > div {
	width: 150px;
	height: 85px;
	border: 1px solid #eeeeee;
	border-radius: 3px;
}

#pulse p, #pulse h2, #pulse h4, #pulse h5 {
	text-align: center;
	margin: auto;
}

#pulse .visit h2, #pulse .visit h4 {
	display: inline-block;
}

#pulse .visit h2 {
	margin-left: 23px;
	margin-right: 5px;
}

#pulse .visit h4 {
	margin-left: 5px;
	margin-right: 5px;
}

#pulse .selected {
	background-color: yellow;
}

div.modal-body ul {
	list-style: none;
}