html, body, nav, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #99cce1;
}

.nav {
  width: 100%;
  height: 32px;
  background-image: linear-gradient(#44515a, #2d3337);
  color: white;
  overflow: hidden;
  line-height: 32px;
  font-family: arial;
}

.nav .company {
  float: left;
  font-size: 1.1em;
  margin: 0 18px;
}

.nav ul {
  float: right;
  font-size: 0.7em;
  margin: 0 10px;
}

.nav li {
  display: inline;
  margin: 4px;
}

.marketing-hub {
  float: left;
}

.calendar {
  float: right;
}

.day {
  display: inline-block;
}

.pulse {
  float: right;
  clear: right;
}

.panel {
  display: inline-block;
}


