@charset "utf-8";
/* line 8, ../sass/_meyer.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 30, ../sass/_meyer.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 34, ../sass/_meyer.sass */
body {
  line-height: 1;
}

/* line 37, ../sass/_meyer.sass */
ol, ul {
  list-style: none;
}

/* line 40, ../sass/_meyer.sass */
blockquote, q {
  quotes: none;
}

/* line 43, ../sass/_meyer.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 48, ../sass/_meyer.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*normalize.css v2.1.3|MIT License|git.io/normalize */
/* line 10, ../sass/_normalize.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 26, ../sass/_normalize.sass */
audio,
canvas,
video {
  display: inline-block;
}

/* line 34, ../sass/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 41, ../sass/_normalize.sass */
[hidden],
template {
  display: none;
}

/* line 51, ../sass/_normalize.sass */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 58, ../sass/_normalize.sass */
body {
  margin: 0;
}

/* line 65, ../sass/_normalize.sass */
a {
  background: transparent;
}

/* line 70, ../sass/_normalize.sass */
a:focus {
  outline: thin dotted;
}

/* line 75, ../sass/_normalize.sass */
a:active,
a:hover {
  outline: 0;
}

/* line 84, ../sass/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 90, ../sass/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 95, ../sass/_normalize.sass */
b,
strong {
  font-weight: bold;
}

/* line 101, ../sass/_normalize.sass */
dfn {
  font-style: italic;
}

/* line 106, ../sass/_normalize.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 113, ../sass/_normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* line 119, ../sass/_normalize.sass */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 128, ../sass/_normalize.sass */
pre {
  white-space: pre-wrap;
}

/* line 133, ../sass/_normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 138, ../sass/_normalize.sass */
small {
  font-size: 80%;
}

/* line 143, ../sass/_normalize.sass */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 150, ../sass/_normalize.sass */
sup {
  top: -0.5em;
}

/* line 153, ../sass/_normalize.sass */
sub {
  bottom: -0.25em;
}

/* line 160, ../sass/_normalize.sass */
img {
  border: 0;
}

/* line 165, ../sass/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 172, ../sass/_normalize.sass */
figure {
  margin: 0;
}

/* line 179, ../sass/_normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 187, ../sass/_normalize.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 195, ../sass/_normalize.sass */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 206, ../sass/_normalize.sass */
button,
input {
  line-height: normal;
}

/* line 215, ../sass/_normalize.sass */
button,
select {
  text-transform: none;
}

/* line 225, ../sass/_normalize.sass */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 234, ../sass/_normalize.sass */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 241, ../sass/_normalize.sass */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 250, ../sass/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 259, ../sass/_normalize.sass */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 265, ../sass/_normalize.sass */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 273, ../sass/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 281, ../sass/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../sass/_main.sass */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/_main.sass */
html {
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

/* line 16, ../sass/_main.sass */
body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #f1f1f1;
  font-family: "trebuchet ms", tahoma, verdana, arial, sans-serif;
  width: 100%;
}

/* line 22, ../sass/_main.sass */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 25, ../sass/_main.sass */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 30, ../sass/_main.sass */
.clearfix:after {
  clear: both;
}

/* line 33, ../sass/_main.sass */
#mainContent {
  width: 1195px;
  margin: 0px auto;
}

/* line 4, ../sass/_header.sass */
header {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  background-color: #2a2f33;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#45525c), to(#2a2f33));
  background-image: -webkit-linear-gradient(top, #45525c, #2a2f33);
  background-image: -moz-linear-gradient(top, #45525c, #2a2f33);
  background-image: -ms-linear-gradient(top, #45525c, #2a2f33);
  background-image: -o-linear-gradient(top, #45525c, #2a2f33);
  background-image: linear-gradient(top, #45525c, #2a2f33);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45525c', EndColorStr='#2a2f33');
  height: 32px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 9;
}
/* line 14, ../sass/_header.sass */
header .logo {
  margin: 9px 0px 0px 20px;
}

/* line 17, ../sass/_header.sass */
#headerText {
  color: #eeeeee;
  font-size: 10pt;
  float: right;
  height: 32px;
  line-height: 32px;
  margin: 0px 10px 0px 0px;
}
/* line 24, ../sass/_header.sass */
#headerText span {
  font-family: arial, sans-serif;
  padding: 0px 5px 0px 0px;
}
/* line 27, ../sass/_header.sass */
#headerText ul {
  display: inline-block;
}
/* line 29, ../sass/_header.sass */
#headerText li {
  display: inline-block;
}
/* line 31, ../sass/_header.sass */
#headerText li a {
  color: #99cce1;
  text-decoration: none;
}
/* line 34, ../sass/_header.sass */
#headerText li a:hover {
  color: #bbeeff;
}

/* line 4, ../sass/_nav.sass */
nav {
  background-color: #eeeeee;
  border-radius: 4px;
  margin: 52px 0px 0px 20px;
  width: 181px;
}
/* line 9, ../sass/_nav.sass */
nav a {
  color: #888888;
  text-decoration: none;
}

/* line 13, ../sass/_nav.sass */
.navHeader {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  background-image: url("../img/nav/imh_headerbg.png");
  background-repeat: no-repeat;
  background-position: top left;
  border-radius: 4px 4px 0px 0px;
  height: 50px;
}
/* line 21, ../sass/_nav.sass */
.navHeader img {
  float: left;
}
/* line 23, ../sass/_nav.sass */
.navHeader h3 {
  color: white;
  display: inline-block;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  height: 50px;
  line-height: 14pt;
  padding: 8px 0px 0px 3px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  width: 130px;
  vertical-align: middle;
}

/* line 4, ../sass/_jsanddom.sass */
#jsanddom {
  padding: 10px;
}
/* line 6, ../sass/_jsanddom.sass */
#jsanddom #foo,
#jsanddom #baz,
#jsanddom #foobar {
  margin-top: 10px;
}
/* line 10, ../sass/_jsanddom.sass */
#jsanddom li {
  list-style: disc;
  margin: 0px 0px 0px 50px;
}

/* line 15, ../sass/_jsanddom.sass */
#div1 label {
  display: block;
}

/* line 19, ../sass/_jsanddom.sass */
#foobar p {
  margin: 20px 0px 0px 0px;
}
/* line 21, ../sass/_jsanddom.sass */
#foobar ul {
  margin: 10px 0px 0px 0px;
}
/* line 23, ../sass/_jsanddom.sass */
#foobar input {
  margin: 0px 5px 0px 0px;
}
/* line 25, ../sass/_jsanddom.sass */
#foobar a {
  cursor: pointer;
  color: #0000aa;
  text-decoration: underline;
}
/* line 29, ../sass/_jsanddom.sass */
#foobar a:hover {
  color: #6666dd;
}

/* line 4, ../sass/_calendar.sass */
#calendar {
  background-color: #eeeeee;
  width: 100px;
  height: 100px;
}

/* line 4, ../sass/_pulse.sass */
#pulse {
  background-color: #eeeeee;
  height: 100%;
  width: 100%;
}
