.orange-gradient {
	/* fallback */
	background-color: $orange-gradient-fallback;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($orange-gradient-top), to($orange-gradient-bottom));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, $orange-gradient-top, $orange-gradient-bottom);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, $orange-gradient-top, $orange-gradient-bottom);
	/* IE 10 */
	background: -ms-linear-gradient(top, $orange-gradient-top, $orange-gradient-bottom);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, $orange-gradient-top, $orange-gradient-bottom);
}

.grey-gradient {
	/* fallback */
	background-color: $grey-gradient-fallback;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($grey-gradient-top), to($grey-gradient-bottom));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, $grey-gradient-top, $grey-gradient-bottom);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, $grey-gradient-top, $grey-gradient-bottom);
	/* IE 10 */
	background: -ms-linear-gradient(top, $grey-gradient-top, $grey-gradient-bottom);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, $grey-gradient-top, $grey-gradient-bottom);
}

.grey-lte-gradient {
	/* fallback */
	background-color: $grey-lte-gradient-fallback;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($grey-lte-gradient-top), to($grey-lte-gradient-bottom));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, $grey-lte-gradient-top, $grey-lte-gradient-bottom);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, $grey-lte-gradient-top, $grey-lte-gradient-bottom);
	/* IE 10 */
	background: -ms-linear-gradient(top, $grey-lte-gradient-top, $grey-lte-gradient-bottom);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, $grey-lte-gradient-top, $grey-lte-gradient-bottom);
}
