$background-light-grey: #f4f4f5;
$background-medium-grey: #cfdbe4;
$background-dark-grey: #384249;

$calendar-header-grey: #9da5ab;

$header-text-white: #fff;
$header-link-blue: #99cce1;

$applauncher-header-orange: #fba73d;
$applauncher-apps-grey: #888888;



$orange-gradient-top: #fdaf4b;
$orange-gradient-bottom: #f8991e;
$orange-gradient-fallback: #fca93f;

$grey-orange-gradient-top: #ebf1f5;
$grey-orange-gradient-bottom: #feedd6;
$grey-orange-gradient-fallback: #f5efe6;

$grey-gradient-top: #43505a;
$grey-gradient-bottom: #2b3034;
$grey-gradient-fallback: #363f45;

$grey-lte-gradient-top: #b9c6cf;
$grey-lte-gradient-bottom: #d4e0e8;
$grey-lte-gradient-fallback: #cddae2;

$blue-gradient-top: #f2faff;
$blue-gradient-bottom: #e2f4fe;
$blue-gradient-fallback: #e3f4fe;

$pulse-grey: #7f91a3;
$pulse-blue: #34bbf3;