$background-light-grey: #f4f4f5;
$background-medium-grey: #cfdbe4;
$background-dark-grey: #384249;

$calendar-header-grey: #9da5ab;

$header-text-white: #fff;
$header-link-blue: #99cce1;

$applauncher-header-orange: #fba73d;