<!doctype html>
<html>

   <head>
     <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <title>Jason Russell ExactTarget Candidate UI Test</title>
     <!--link rel="stylesheet" href="style.css" /-->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
     <script src="jsanddom.js"></script>

     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

     <script>
      function logFunctionResults()
      {
        console.log(divide(4, 2));   // divide function
        console.log(reverseString('Subscribers rock'));
        console.log(findMinValue([1, 2, 3, 4, 5]));
        console.log(findDistinctValues([3, 5, 7, 20, .18, 01, -1.1, 12, Infinity, Infinity, 0.18, -1.1, 12]));
        doFizzBuzz();
        console.log(removeFruits(['apple', 'banana', 'orange', 'kiwi', 'pear', 'plum', 'strawberry'],
                                 ['pear', 'banana']));

      }


     </script>
   </head>


   <body>
     <div
       <h1>  Jason Russell ExactTarget Candidate UI Test  </h1>
       <br>
       <button id="logFunctionResults" value="" onclick="logFunctionResults();">Log Function Results</button>
       <br>
       <button id="logFunctionResults" value="" onclick="runUnitTests();">Run Unit Tests</button>

     </div>
   </body>

</html>
