<!--Initial thoughts top to bottom gradient.
Pulse icon background transparent.
5 elements. Each not quite a span2 due to margins between items.
Will not set the span and let Bootstrap arrange them, with tweaking as needed.
Will set panels up with borders for visibility.
jQuery-ui toggle class to set CSS.
Active element will get size increased.
Add/Remove class via toggle.

-->
<script src="./scripts/jsFiles/jquery-1.10.2.min.js"></script>
<script src="./scripts/jsFiles/jqueryUIFilesJS/jquery-ui.js"></script>
<script>
 
</script>
<div class="row">
	<div class="pulseSegments row text-center toggle" >
		<div id="FollowersPanel" class="customWidth span2 customBorder panelToToggle">

			<header class="pulseHeader">
				Followers
			</header>

			<!-- set margin between these two rows -->

			<div class="pulseBodyElementContainer ">
				container
				placeholder
			</div>

		</div>
		<div id="fanPanel" class="customWidth span2 customBorder panelToToggle">
			<header class="pulseHeader">
				Fan
			</header>
			<div class="pulseBodyElementContainer">
				container
				placeholder
			</div>
		</div>
		<div id="SubscriberPanel" class="customWidth span2 customBorder panelToToggle">
			<header class="pulseHeader">
				Subscribers
			</header>

			<div class="pulseBodyElementContainer" class="customWidth span2">
				container
				placeholder
			</div>
		</div>
		<div id="fourSquarePanel" class="customWidth span2 customBorder panelToToggle">
			<header class="pulseHeader">
				foursquare
			</header>

			<div class="pulseBodyElementContainer" class="customWidth span2">
				container
				placeholder
			</div>
		</div>
		<div id="LandingPagesPanel" class="customWidth span2 customBorder panelToToggle">
			<header class="pulseHeader">
				Landing Pages
			</header>
			<div class="pulseBodyElementContainer">
				container
				placeholder
			</div>
		</div>

	</div>
</div>