body {
	background: #f1f1f1;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

header {
	width: 100%;
	height: 32px;
	overflow: hidden;
	/*
		gradient from 2a2f33 (bottom) to 45525c (top)
	*/
	background-image: -webkit-linear-gradient(bottom, #2a2f33, #45525c); /* For Chrome and Safari */
	background-image:    -moz-linear-gradient(bottom, #2a2f33, #45525c); /* For old Fx (3.6 to 15) */
	background-image:     -ms-linear-gradient(bottom, #2a2f33, #45525c); /* For pre-releases of IE 10*/
	background-image:      -o-linear-gradient(bottom, #2a2f33, #45525c); /* For old Opera (11.1 to 12.0) */ 
	
	background-image: linear-gradient(to top, #2a2f33, #45525c); /* Standard syntax; must be last */
}

/* Logo */
header h1 {
	font-size: 0;
	text-indent: -9999em;
	float: left;
	height: 16px;
	width: 86px;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 9px;
	background: transparent top left no-repeat url('../img/header-logo.png');
}
header nav {
	float: right;
}
header nav * {
	color: #eeeeee;
	font-size: 11px;
	margin-right: 10px;
	line-height: 1em;
	display: inline-block;
}

header nav ul {
	padding-left: 0;
}

header nav li {
	padding: 0 7px;
	margin: 0;
	display: inline-block;
}
header nav li + li{
	border-left: 1px solid #ccc;
}
header nav li a {
	color: #99cce1;
	padding: 0;
	margin:0;
	display: inline-block;
	text-decoration: none;
}


/* Main body */
/* Side Nav */
main nav {
	width: 221px;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	padding: 20px;
	padding: 20px;
}
main nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 52px;
	background: transparent 0 0 url('../img/side-nav-header.png') no-repeat;
}
main nav li {
	background: transparent 0 0 url('../img/side-nav-list-bkg.png') repeat-y;
	height: 35px;
}
main nav a {
	padding-left: 43px;
	text-decoration:none;
	font-size: 11px;
	color: #888888;
	display: block;
	line-height: 35px;
	margin: 0 2px;
	height: 35px;
}
main nav a:hover {
	background-color: rgba(251, 186, 103, .5);
	color: #000;
}
main nav li.include-sep {
	height: 37px;
}
main nav li.include-sep::before {
	content: '';
	height: 2px;
	width: 100%;
	display: block;
	background: transparent 0 0 url('../img/side-nav-list-footer.png') no-repeat;
}
main nav li.footer {
	padding-top: 2px;
	background-image: url('../img/side-nav-list-footer.png');
	height: 33px;
}
main nav li.footer  a {
	height: 31px;
	border-radius: 0px 0px 3px 3px;
	line-height: 31px;
}