@border_grey: #e6e6e6;
@bg_color: #fefffd;

body {
    background-color: @bg_color;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: arial, sans-serif;
}

.content {
    width: 1250px;
    min-height: 34px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-image: url(../images/header/header_background.png);
    background-repeat: repeat-x;
    height: 34px;
}

.sidebar {
    float: left;
    margin: 20px 20px 0 0;
    width: 180px;
    background-color: #f5f5f5;
    border: 1px solid @border_grey;
    border-radius: 5px;
    overflow: hidden;

    .sidebar-header {
        background-image: url('../images/app_launcher_1/interactive_marketing_hub_background.png');
        background-repeat: no-repeat;
        width: 183px;
        height: 53px;
        margin-left: -2px;

        h2 {
            color: white;
            font-size: 16px;
            display: inline-block;
            width: 70%;
            margin: 6px 0 0 5px;
        }
        img {
            margin: 15px 0px 0px 15px;
        }
    }

    .app-launcher {
        border: 1px solid @bg_color;
        margin-top: 0;

        ul {
            margin: 10px 0 10px -30px;

            li {
                list-style-type: none;
                font-size: 14px;

                a {
                    color: #888888;
                    text-decoration: none;
                    vertical-align: middle;
                    padding-bottom: 15px;
                    
                    .imh-icon {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        width: 26px;
                        height: 26px;
                        background-image: url('../images/app_launcher_1/i_background.png');
                        background-repeat: no-repeat;

                        img {
                            margin-top: 3px;
                        }
                    }
                    .icon-text {
                        vertical-align: 6px;
                        padding-left: 2px;
                    }
                }
                a.imh-links:hover {
                    font-weight: 700;
                }
                a.imh-links:active {
                    .icon-text {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .launcher-stacked {
        border-top: 1px solid @border_grey;
        ul {
            li {
                button {
                    padding: 0px;
                }
                .partner-apps {
                    padding-top: 10px;
                }
            }
        }

    }
}

.main-content {
    .calendar, .pulse {
        float: right;
        margin-top: 20px;
    }
    .calendar {
    }

    .pulse {
        border-radius: 5px;
        background-image: url('../images/pulse/pulse_background.png');
        background-repeat: no-repeat;
        width: 995px;
        height: 265px;

        .pulse-header {
            h2 {
                color: white;
                font-size: 16px;
                display: inline-block;
                width: 116px;
                height: 40px;
                margin-top: 7px;
                padding: 0px 0px 0px 18px;
                background-image: url('../images/pulse/pulse_logo.png');
                background-repeat: no-repeat;
                background-position: 0 7px;
                background-position-x: 0; //IE8
                background-position-y: 7px; //IE8
                font-size: 20px;
                font-weight: 400;
            }
            .header-right {
                float: right;
                margin: 7px 10px 0 0;
                img {
                    margin-left: 5px;
                }
            }
        }
        .pulse-content {
            padding: 0 0 0 12px;

            .pulse-box {
                float: left;
                width: 172px;
                height: 101px;
                margin-top: 40px;
                background-image: url('../images/pulse/pulse_box_sm.png');
                background-repeat: no-repeat;
                text-align: center;

                p {
                    color: #93afc0;
                    margin: 0;
                    width: 98%;
                }
                .highlight {
                    color: #34bbf3;
                    font-size: 30px;
                }
                .footnote {
                    margin-top: 10px;
                    font-size: 10px;
                }
                p.pulse-label {
                    margin: -15px 0 10px 0;
                    width: 98%;
                    text-align: center;
                    font-size: 12px;
                    color: #888888;
                }
                .foursquare-header {
                    padding: 0 17px 0 7px;
                    font-weight: 700;
                    font-size: 10px;

                    .fs-left {
                        float: left;
                        text-align: left;
                        width: 70%;
                        color: #888888;
                    }
                    .fs-right {
                        float: right;
                        text-align: right;
                        width: 25%;
                        color: #888888;
                    }
                }
                .map-wrapper {
                    margin: 25px 0 0 -10px;
                    img {
                        max-width: 130px;
                    }
                }
            }

            .pulse-box.active {
                width: 313px;
                height: 197px;
                margin: -17px -6px 0px -15px;
                background-image: url('../images/pulse/pulse_box_lg.png');
                background-repeat: no-repeat;
                p {
                    font-size: 16px;
                }
                .highlight {
                    font-size: 50px;
                }
                .footnote {
                    font-size: 14px;
                    margin-top: 25px;
                }
                p.pulse-label {
                    margin-top: 0;
                    margin-bottom: 25px;
                    font-size: 12px;
                }
                .foursquare-header {
                    padding: 0 30px;
                    margin: -15px 0 10px 0;
                    .fs-left, .fs-right {
                        width: 40%;
                        font-size: 10px;
                    }
                }
                .map-wrapper {
                    margin: 45px 0 0 0;
                    img {
                        max-width: 252px;
                    }
                }
            }
        }
    }
}
