@import "elements.less";

html, body {
    margin: 0;
    height: 100%;
    font: Arial;
}

.navbar {
    position: relative;
    height: 40px;
    .gradient(black, #2A2F33, #45525C);

    .primary-logo {
        position: relative;
        float: left;
        background-image: url('images/logo.png');
        height: 17px;
        width: 86px;
        margin-top: 12px;
        margin-left: 20px;
    }

    .control-container {
        position: relative;
        float: right;
        padding: 10px;

        :not(:last-child) {
            margin-right: 5px;
        }

        .welcome {
            color: white;
        }

        a {
            color: #99CCE1;
        }
    }
}

.flex-container {
    display: flex;
}

.left-container {
    float: left;
    height: 100%;
    flex: 0 1 auto;

    .marketing-hub-container {
        width: 185px;
        height: 335px;
        display: inline-block;
        margin: 20px;
        background-color: red;
        .border-radius(5px,5px,5px,5px);
    }
}

.right-container {
    float: left;
    height: 100%;
    margin-right: 20px;
    background-color: orange;
    display: inline-block;
    flex: 10 1 auto;
    .border-radius(5px,5px,5px,5px);

    .calendar-container {
        height: 115px;
        margin-bottom: 20px;
        background-color: blue;
        .border-radius(0,5px,5px,0);
    }

    .pulse-container {
        height: 265px;
        background-color: yellow;
        .border-radius(5px,5px,5px,5px);
    }
}