/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  margin: 0;
  height: 100%;
  font: Arial;
}
.navbar {
  position: relative;
  height: 40px;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2A2F33), color-stop(1, #45525C));
  background: -ms-linear-gradient(bottom, #2A2F33, #45525C);
  background: -moz-linear-gradient(center bottom, #2A2F33 0%, #45525C 100%);
  background: -o-linear-gradient(#45525C, #2A2F33);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45525C', endColorstr='#2A2F33', GradientType=0);
}
.navbar .primary-logo {
  position: relative;
  float: left;
  background-image: url('images/logo.png');
  height: 17px;
  width: 86px;
  margin-top: 12px;
  margin-left: 20px;
}
.navbar .control-container {
  position: relative;
  float: right;
  padding: 10px;
}
.navbar .control-container :not(:last-child) {
  margin-right: 5px;
}
.navbar .control-container .welcome {
  color: white;
}
.navbar .control-container a {
  color: #99CCE1;
}
.flex-container {
  display: flex;
}
.left-container {
  float: left;
  height: 100%;
  flex: 0 1 auto;
}
.left-container .marketing-hub-container {
  width: 185px;
  height: 335px;
  display: inline-block;
  margin: 20px;
  background-color: red;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.right-container {
  float: left;
  height: 100%;
  margin-right: 20px;
  background-color: orange;
  display: inline-block;
  flex: 10 1 auto;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.right-container .calendar-container {
  height: 115px;
  margin-bottom: 20px;
  background-color: blue;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.right-container .pulse-container {
  height: 265px;
  background-color: yellow;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
