/*------------------------------------------  
=MISC
------------------------------------------*/

.alert {	
	margin-top: 10px;	
}

.alert .close {	
	display: none;	
}

/*
	// create line break in a headline with a span tag
 .headline span {	
	@media @desktop {
		display: block;
	}
}
*/


/* END misc */