
.navbar {
  margin-bottom: 0;
  background: #414d56;
  background: linear-gradient(to bottom, #414d56, #2d3336);
}

.navlink {
  color: #7DABBE !important;
}

.nav--white {
  color: white !important;
}

.hub__item {
  border-bottom: none;
  border-top: none;
  background-color: #f5f5f5;
}
