/*------------------------------------------  
=BLOG Styles for WordPress
------------------------------------------*/

.more, .more:visited {	
	font-size: 14px;
	float: right;
	
	.no-touch &:hover, .no-touch &:hover:visited {
		text-decoration: underline;
	}
}


.blog, .search, .archive {

	a {	

	}
	
	article {	

	}
	
	.postlist {
	
		li {	
	
		}
	
		.wp-post-image {	
	
		}
		
		h2 {	
			margin-bottom: 5px;	
		}
	
		.stickypost {	
			h2 {	
	
				}
			}	
		}
	
		.sticky-post-image {	
			img {	
	
			}
	}
	
}

.single {	

	//add this
	.share {


		.twitter-share-button {	
			margin-top: 8px;	
		}		

	}

		.entry-content {	
			min-height: 250px;	

			.wp-post-image {	
				
			}

		}

		h1 {	
		}
		
		article .entry-content {	

		}
		
		.relatedposts {
		
			h3 {	
			}
			
			h4 {	
			}
		
			ul {	
			}
			
			li {
								
				img	{	
					
				}
			}
			
			a, a:visited {
			
				.no-touch &:hover, .no-touch &:hover:visited {

					.wp-post-image {

					}
				
					// post title
					h4 {

					}
				}
			}
		
			.wp-post-image {

			}
		}
	
}

.entry-tags {

	li {
	}

  a, a:visited {
  
  	.no-touch &:hover, .no-touch &:hover:visited {
  	}
  }
}

#respond {
	width: 75%;
	
	textarea {
		width: 100%;
	}
	
	label {	
		font-weight: 600;	
	}

	input[type=text] {	
		margin-bottom: 20px;	
	}	
}

#submit {	
	margin-top: 20px;
	background-color: @gray;
	background-image: none;
	
	.no-touch &:hover, .no-touch &:hover:visited {
		background-color: darken(@gray, 5%);		
	}
}


