<div class="modal-dialog">
  <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Help!</h4>
      </div>
      <div class="modal-body">

          <% _.each(help,function(item,key,arr) { %>
              <div><a href="<%=item.URL %>"><%=item.title %></a></div>
          <% }); %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

  </div>
</div>
