/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
KEYFRAMES
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Javascript CSS Animation Class Setup
-----------------------------------------------
/////////////////////////////////////////////// */
.fx-demo                                         { @include animation(effectName, 4s, 1.5s, ease-in-out, 1, normal, both, running); }


/* Keyframes
-----------------------------------------------
/////////////////////////////////////////////// */
@keyframes blurIn {
    0% {
        filter: blur(5px);
        opacity: 0;
    }
    100% {
        filter: none;
        opacity: 1;
    }
}


@keyframes blurOut {
    0% {
        filter: none;
        opacity: 1;
    }
    100% {
        filter: blur(5px);
        opacity: 0;
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}



@keyframes slideUp {
    0% {
        opacity: 0;
        transform:translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes slideUpLong {
    0% {
        opacity: 0;
        transform:translate3d(0,300%,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}



@keyframes slideRight {
    0% {
        opacity: 0;
        transform:translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes slideRightLong {
    0% {
        opacity: 0;
        transform:translate3d(300%,0,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}



@keyframes slideDown {
    0% {
        opacity: 0;
        transform:translate3d(0,-100%,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes slideDownLong {
    0% {
        opacity: 0;
        transform:translate3d(0,-300%,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}


@keyframes slideLeft {
    0% {
        opacity: 0;
        transform:translate3d(-100%,0,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}
@keyframes slideLeftLong {
    0% {
        opacity: 0;
        transform:translate3d(-300%,0,0);
    }
    100% {
        opacity: 1;
        transform:translate3d(0,0,0);
    }
}