/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
LAYOUT SETUP
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Base Styles - Opinionated Defaults
-----------------------------------------------
//////////////////////////////////////////////// */
::selection                                       { background-color:$def-font-highlight; text-shadow:none; }
                                                    /* Custom background color for highlighted text, also removes text-shadow */

img                                               { display:block; max-width:100%; }
                                                    /* Responsive images */

audio,canvas,iframe,
img,svg,video                                     { vertical-align:middle; }
                                                    /* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */

ol,ul                                             { list-style-position:inside; list-style-type:none; }
                                                    /* Removes default list styles */

html,body,div,ol,ul,iframe,
header,nav,section,aside,footer,
h1,h2,h3,h4,h5,h6,p,
button,fieldset,input,label,select,textarea       { display:block; border:0; margin:0; outline:0; padding:0; vertical-align:top; }
                                                    /* Removes default styles, normalize alignment for commonly used elements */

button,input,select,textarea                      { box-sizing:border-box; width:100%; }
                                                    /* Makes forms much easier to style */

textarea                                          { resize:vertical; }
                                                    /* Allow only vertical resizing of textareas. */

label                                             { cursor:pointer; }
                                                    /* Indicates labels should be clicked on */

fieldset                                          { border:$def-border-size solid $def-border-color; border-radius:$def-border-radius; padding:rem($def-padding); margin-bottom:rem($def-margin); }
                                                    /* Better default fieldset */

hr                                                { display:block; height:1px; border:0; border-top:1px solid $def-border-color; margin:1em 0; padding:0; }
                                                    /* Better default horizontal rule */

span.amp                                          { font-family:Baskerville,"Palatino Linotype",Times New Roman,serif; font-style:italic; font-weight:400; line-height:normal; }
                                                    /* Styles ampersands to appear badass. */
                                                    /* Reference: http://simplebits.com/notebook/2008/08/14/ampersands-2/ */


/* Global Class Helpers
 * Might below to plugins/frameworks i.e. Typekit
-----------------------------------------------
//////////////////////////////////////////////// */
.img                                              { position:relative; padding-top:75%; overflow:hidden; }
.img img                                          { position:absolute; top:0; opacity:0; width:100%; transition:opacity 1s ease; }
.img.loaded img                                   { opacity:1; }

.imgc                                             { display:inline-block; overflow:hidden; }
.imgc img                                         { opacity:0; transition:opacity 1s ease; }
.imgc.loaded img                                  { opacity:1; }

.fade-in                                          { opacity:1 !important; }
.fade-out                                         { opacity:0 !important; }

/*
.wf-loading                                       { }
.wf-active                                        { opacity:1 !important; } */

.wf-loading .title                                { opacity:0; }
.wf-active .title                                 { @include animation(fadeIn, 1.0s, 1.0s); }
                                                    /* Handles Typekit Loading Events */

.fa                                               { display:block; }
                                                    /* I like this more than display:inline-block for FontAwesome icons */




/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
TYPOGRAPHY DEFAULTS
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
html                                              { color:$def-font-color; font-family:$def-font-family; font-size:$def-font-scale; font-style:$def-font-style; font-weight:$def-font-weight; }
                                                    /* Default global font-styling */

p                                                 { font-size:em($def-font-size); line-height:$def-line-height; }
                                                    /* Default paragraph font-styling */

a                                                 { color:$def-anchor-color; text-decoration:$def-anchor-deco; }
a:hover                                           { color:$def-anchor-hover; }
a:active                                          { }
a:visited                                         { }
                                                    /* Default anchor font-styling */

h1                                                { font-size:em($def-h1-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
h2                                                { font-size:em($def-h2-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
h3                                                { font-size:em($def-h3-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
h4                                                { font-size:em($def-h4-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
h5                                                { font-size:em($def-h5-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
h6                                                { font-size:em($def-h6-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
                                                    /* Default header font-styling */





/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
FORM DEFAULTS
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
form                                              { background:$white; border-radius:$def-border-radius; padding:rem($def-padding); }
/* form > *:last-child                               { margin-bottom:0; } */

form > div                                        { @extend %clearfix; display:block; position:relative; }
form > div > span                                 { float:left; margin-left:2%; margin-bottom:rem($def-margin); position:relative; width:100%; }
form > div > span.c_03                            { width:49%; }
form > div > span.c_02                            { width:32%; }
form > div > span:first-child                     { margin-left:0; }
form > div:last-child > span                      { margin-bottom:0; }

label                                             { font-size:em($def-font-size); padding-bottom:rem($def-margin / 2); }

input                                             { background:transparent; border:$def-border-size solid $def-border-color; border-radius:$def-border-radius; font-size:em($def-font-size); padding:rem(9px) rem(0px) rem(11px) rem(14px); transition:0.3s all ease; }
input[type="button"]                              { padding:rem(9px) rem(14px) rem(11px) rem(14px); }
input[type="button"]:hover                        { background:rgba(0,0,0,0.05); }
input:focus                                       { background:rgba(0,0,0,0.05); }

textarea                                          { background:transparent; border:$def-border-size solid $def-border-color; border-radius:$def-border-radius; font-size:em($def-font-size); padding:rem(9px) rem(15px) rem(11px) rem(14px); min-height:rem(150px); transition:0.3s background ease; }
textarea:focus                                    { background:rgba(0,0,0,0.05); }

.select                                           { @include unselectable(); background:transparent; border:$def-border-size solid $def-border-color; border-radius:$def-border-radius; cursor:pointer; font-size:em($def-font-size); padding:rem(9px) rem(15px) rem(11px) rem(14px); }
.options                                          { @include absolute(auto,0,auto,0); background:$white; border:$def-border-size solid $def-border-color; border-radius:$def-border-radius; display:none; z-index:50; }
.options li                                       {  }

select                                            { background:transparent; border:$def-border-size solid $def-border-color; border-radius:$def-border-radius; font-size:em($def-font-size); padding:rem(8px) rem(0px) rem(10px) rem(10px); }
option                                            { padding:0; margin:0; }






/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
LAYOUT STYLES
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
html                                              { overflow:hidden; }
body                                              { background-color:$site-bg-color; overflow:hidden; position:relative; }


/* Layout Section - <wrapper>
-----------------------------------------------
//////////////////////////////////////////////// */
.wrapper                                          { @include absolute(rem(32px),0,0,0); overflow-y:auto; }


/* Layout Section - <header>
-----------------------------------------------
//////////////////////////////////////////////// */
header                                            { color:$white; box-shadow:0 1px 2px rgba(0,0,0,0.3); z-index:10;
                                                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45525c+0,2a2f33+100 */
                                                    background: #45525c; /* Old browsers */
                                                    background: -moz-linear-gradient(top,  #45525c 0%, #2a2f33 100%); /* FF3.6-15 */
                                                    background: -webkit-linear-gradient(top,  #45525c 0%,#2a2f33 100%); /* Chrome10-25,Safari5.1-6 */
                                                    background: linear-gradient(to bottom,  #45525c 0%,#2a2f33 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45525c', endColorstr='#2a2f33',GradientType=0 ); /* IE6-9 */ }

header a.logo                                     { display:inline-block; float:left; padding:rem(9px) rem(20px) rem(7px) rem(20px); position:relative; }
header a.logo .home                               { @include absolute(0,auto,auto,100%); background: rgba(0,0,0,0.2); border-radius:rem(3px); font-size:em(9px); line-height:22px; margin:rem(5px); padding:0 rem(5px); text-transform:uppercase; opacity:0; transition:0.2s all ease; }
header a.logo img                                 { transition:0.2s all ease; }
header a.logo:hover img                           { opacity:0.7; }
header a.logo:hover .home                         { opacity:1; margin-left:-10px; }

header nav                                        { @extend %clearfix; color:#ccc; font-size:em(11px); float:right; line-height:rem(32px); }
header nav .welcome                               { color:#eee; margin-right: rem(3px); }
header nav .divider                               { cursor:default;  }
header nav a                                      { display:block; color:$site-color-1; padding:0 rem(6px); }
header nav ul                                     { @extend %clearfix; padding-right:rem(4px); }
header nav li                                     { float:left; }


/* Layout Section - Sidebar
-----------------------------------------------
//////////////////////////////////////////////// */
nav                                               { }


/* Layout Section - Main Content Area
-----------------------------------------------
//////////////////////////////////////////////// */
.content                                          { padding-right:rem(20px); }

.calendar                                         { background:#f5f5f5; border:1px solid $def-border-color; border-top:0; border-radius:0 0 rem($def-border-radius) rem($def-border-radius); box-shadow:0 1px 2px rgba(0,0,0,0.15); height:rem(112px); overflow:hidden; position: relative; }
.calendar .month                                  { @include absolute(0,auto,auto,9px); font-size:em(11px); color:#99abb6; cursor:default; line-height:rem(20px); }
.calendar .tools.one                              { @include absolute(0,6px,auto,auto); }
.calendar .tools.two                              { @include absolute(auto,6px,0,auto); }
.calendar .tools img.gear                         { margin:rem(4px) rem(3px) 0 rem(3px); }
.calendar .tools img.fs                           { margin:rem(6px) rem(3px) 0 rem(3px); }
.calendar .tools img.arrow_up                     { margin:rem(4px) rem(3px) 0 rem(3px); }
.calendar .tools.one > div                        { height:rem(20px); float:left; cursor:pointer; }
.calendar .tools.two > div                        { height:rem(13px); float:left; cursor:pointer; }
.calendar .tools > div:hover img.gear             { background-position:-340px 0; }
.calendar .tools > div:hover img.fs               { background-position:-319px 0; }
.calendar .tools > div:hover img.arrow_up         { background-position:-360px 0; }

.calendar ul                                      { @extend %clearfix; @include absolute(20px,auto,auto,0); background:#f5f5f5; border-bottom:1px solid #ddd; border-left:1px solid #ddd; width:rem(9999px); }
.calendar li.day                                  { border-left:1px solid $white; border-right:1px solid #ddd; float:left; height:rem(78px); position:relative; width:rem(137px); }
.calendar li.day.active                           { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebf1f5+11,ffedd5+100 */
                                                    background: #ebf1f5; /* Old browsers */
                                                    background: -moz-linear-gradient(top,  #ebf1f5 11%, #ffedd5 100%); /* FF3.6-15 */
                                                    background: -webkit-linear-gradient(top,  #ebf1f5 11%,#ffedd5 100%); /* Chrome10-25,Safari5.1-6 */
                                                    background: linear-gradient(to bottom,  #ebf1f5 11%,#ffedd5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f5', endColorstr='#ffedd5',GradientType=0 ); /* IE6-9 */ }
.calendar li.day .week_day                        { float:left; font-size:em(11px); color:#999; cursor:default; margin:rem(4px) 0  0 rem(5px); }
.calendar li.day .num_day                         { float:right; font-size:em(11px); color:#666; cursor:default; margin:rem(4px) rem(5px) 0 0; }
.calendar li.day .today                           { @include absolute(auto,-1px,-14px,-1px); background:#fcac45; box-shadow:0 1px 2px rgba(0,0,0,0.4); color:$white; cursor:default; font-size:em(10px); font-weight:700; line-height:rem(13px); text-align:center; text-transform:uppercase; }



/* Layout Section - Sidebar
-----------------------------------------------
//////////////////////////////////////////////// */
.sidebar                                          { padding:rem(20px); }
.sidebar aside                                    { background:#f4f4f5; border:1px solid #e6e6e6; border-radius:rem(5px); box-shadow:inset 0 0 0 1px $white, 0 2px 3px rgba(0,0,0,0.1); }
.sidebar aside .header                            { box-shadow:inset 0 2px 2px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.25);
                                                    @extend %clearfix; border:1px solid #f8981d; border-radius:rem(5px) rem(5px) 0 0; margin:-1px -1px 0 -1px; position:relative;
                                                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdaf4b+25,f8981d+100 */
                                                    background: #fdaf4b; /* Old browsers */
                                                    background: -moz-linear-gradient(top,  #fdaf4b 25%, #f8981d 100%); /* FF3.6-15 */
                                                    background: -webkit-linear-gradient(top,  #fdaf4b 25%,#f8981d 100%); /* Chrome10-25,Safari5.1-6 */
                                                    background: linear-gradient(to bottom,  #fdaf4b 25%,#f8981d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdaf4b', endColorstr='#f8981d',GradientType=0 ); /* IE6-9 */ }
.sidebar aside .header img                        { float:left; }
.sidebar aside .header div                        { color:$white; cursor:default; font-size:em(14px); font-weight:700; float:left; text-shadow:0 1px 1px rgba(0,0,0,0.1); line-height:1.2; padding-top:rem(8px); }

.sidebar aside a                                  { @extend %clearfix; display:block; padding:rem(4px) rem(8px); }
.sidebar aside a.first                            { margin-top:rem(6px); }
.sidebar aside a.last                             { padding:rem(3px) rem(8px); margin-bottom:rem(6px); }
.sidebar aside a img                              { float:left; margin-left:1px; }
.sidebar aside a span                             { color:#888; font-size:em(12px); float:left; line-height:rem(24px); margin-left:rem(9px); }
.sidebar aside a small                            { color:#888; font-size:em(11px); float:left; line-height:rem(13px); margin-left:rem(7px); }
.sidebar aside a .block                           { box-shadow:inset 0 -1px 0 0px #848d96,inset 0 0 0 1px #b2b6bd, inset 0 1px 3px rgba(255,255,255,0.85),0 1px 2px rgba(0,0,0,0.15);
                                                    border-radius:rem(4px); float:left; height:rem(24px); width:rem(24px);
                                                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#afb8bf+24,8b949f+100 */
                                                    background: #afb8bf; /* Old browsers */
                                                    background: -moz-linear-gradient(top,  #afb8bf 24%, #8b949f 100%); /* FF3.6-15 */
                                                    background: -webkit-linear-gradient(top,  #afb8bf 24%,#8b949f 100%); /* Chrome10-25,Safari5.1-6 */
                                                    background: linear-gradient(to bottom,  #afb8bf 24%,#8b949f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
.sidebar aside a:hover .block                     { box-shadow:inset 0 0 0 1px #f8981d,inset 0 2px 2px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.25);
                                                    border-radius:rem(4px);
                                                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdaf4b+25,f8981d+100 */
                                                    background: #fdaf4b; /* Old browsers */
                                                    background: -moz-linear-gradient(top,  #fdaf4b 25%, #f8981d 100%); /* FF3.6-15 */
                                                    background: -webkit-linear-gradient(top,  #fdaf4b 25%,#f8981d 100%); /* Chrome10-25,Safari5.1-6 */
                                                    background: linear-gradient(to bottom,  #fdaf4b 25%,#f8981d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdaf4b', endColorstr='#f8981d',GradientType=0 ); /* IE6-9 */ }
.sidebar aside a:hover                            { background:#e9e9ea; background:rgba(0,0,0,0.05); }
.sidebar aside a:active                           { background:rgba(0,0,0,0.15); }
.sidebar aside a:active span,
.sidebar aside a:active small                     { color:#444; }

.sidebar aside .divider                           { display:block; border-top:1px solid #fefffd; border-bottom:1px solid #e1e1e2; margin:rem(6px) 0; }

.sidebar aside .icon                              { width:24px; height:24px; }
.sidebar aside .icon.exacttarget-email            { background-image:url('../img/sprite_sheet.png'); background-position:-128px 0; }
.sidebar aside .icon.exacttarget-mobile           { background-image:url('../img/sprite_sheet.png'); background-position:-224px 0; }
.sidebar aside .icon.cotweet-social               { background-image:url('../img/sprite_sheet.png'); background-position:-176px 0; }
.sidebar aside .icon.exacttarget-sites            { background-image:url('../img/sprite_sheet.png'); background-position:-152px 0; }
.sidebar aside .icon.automation-studio            { background-image:url('../img/sprite_sheet.png'); background-position:-248px 0; }
.sidebar aside .icon.audience-builder             { background-image:url('../img/sprite_sheet.png'); background-position:-200px 0; }
.sidebar aside .icon.report-builder               { background-image:url('../img/sprite_sheet.png'); background-position:-272px 0; }
.sidebar aside .icon.partner-applications         { background-image:url('../img/sprite_sheet.png'); background-position:0 0; }


/* Image Sprites
-----------------------------------------------
//////////////////////////////////////////////// */
img.logo                                          { background-image:url('../img/sprite_sheet.png'); background-position:0 0; height:16px; width:86px; }
img.sidebarlogo                                   { background-image:url('../img/sprite_sheet.png'); background-position:-86px 0; height:48px; width:42px; }
img.smallarrow                                    { background-image:url('../img/sprite_sheet.png'); background-position:-296px 0; height:13px; width:13px; }
img.gear                                          { background-image:url('../img/sprite_sheet.png'); background-position:-329px 0; height:11px; width:11px; }
img.fs                                            { background-image:url('../img/sprite_sheet.png'); background-position:-309px 0; height:8px; width:10px; }
img.arrow_up                                      { background-image:url('../img/sprite_sheet.png'); background-position:-351px 0; height:5px; width:9px; }





/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
PAGE STYLES
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Page - Home
-----------------------------------------------
//////////////////////////////////////////////// */
.home                                             { }


/* Page - About
-----------------------------------------------
//////////////////////////////////////////////// */
.about                                            { }


/* Page - Contact
-----------------------------------------------
//////////////////////////////////////////////// */
.contact                                          { }
