/*
Error: Undefined variable: "$background-light-grey".
        on line 5 of /Users/jwhitney/Desktop/ui-candidate-test/assets/sass/calendar.scss

1: #calendar {
2: 	position: relative;
3: 	margin-bottom: 20px;
4: 	padding: 10px 10px 0px 10px;
5: 	background-color: $background-light-grey;
6: 	overflow: hidden;
7: 
8: 	.week {
9: 		clear: both;
10: 		border-left: 1px solid #ddd;

Backtrace:
/Users/jwhitney/Desktop/ui-candidate-test/assets/sass/calendar.scss:5
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/script/tree/node.rb:50:in `perform'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/jwhitney/.rvm/gems/ruby-2.1.1/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$background-light-grey\".\A         on line 5 of /Users/jwhitney/Desktop/ui-candidate-test/assets/sass/calendar.scss\A \A 1: #calendar {\A 2: 	position: relative;\A 3: 	margin-bottom: 20px;\A 4: 	padding: 10px 10px 0px 10px;\A 5: 	background-color: $background-light-grey;\A 6: 	overflow: hidden;\A 7: \A 8: 	.week {\A 9: 		clear: both;\A 10: 		border-left: 1px solid #ddd;"; }
