/* line 3, ../sass/styles.scss */
html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

/* line 8, ../sass/styles.scss */
.container {
  width: 100%;
  min-width: 1250px !important;
}

/* line 13, ../sass/styles.scss */
#left {
  padding-left: 20px;
  padding-right: 0px;
}

/* line 18, ../sass/styles.scss */
#right {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 23, ../sass/styles.scss */
.header, .footer {
  color: #9da5ab;
}

/* line 27, ../sass/styles.scss */
a {
  color: #9da5ab;
  text-decoration: none;
}

/* line 32, ../sass/styles.scss */
a:hover {
  color: #384249;
}

/* line 36, ../sass/styles.scss */
.mc-border-radius {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 42, ../sass/styles.scss */
.mc-border-radius-top-only {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
}

/* line 51, ../sass/styles.scss */
.mc-border-radius-bottom-only {
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
}

/* line 60, ../sass/styles.scss */
.mc-box-shadow-grey {
  box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  -moz-box-shadow: 0px 0px 2px #888;
}

/* line 66, ../sass/styles.scss */
.mc-box-shadow-orange {
  box-shadow: 0px 0px 2px #f8981d;
  -webkit-box-shadow: 0px 0px 2px #f8981d;
  -moz-box-shadow: 0px 0px 2px #f8981d;
}

/* line 1, ../sass/_gradients.scss */
.orange-gradient {
  /* fallback */
  background-color: #fca93f;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdaf4b), to(#f8991e));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #fdaf4b, #f8991e);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #fdaf4b, #f8991e);
  /* IE 10 */
  background: -ms-linear-gradient(top, #fdaf4b, #f8991e);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #fdaf4b, #f8991e);
}

/* line 16, ../sass/_gradients.scss */
.grey-gradient {
  /* fallback */
  background-color: #363f45;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#43505a), to(#2b3034));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #43505a, #2b3034);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #43505a, #2b3034);
  /* IE 10 */
  background: -ms-linear-gradient(top, #43505a, #2b3034);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #43505a, #2b3034);
}

/* line 31, ../sass/_gradients.scss */
.grey-lte-gradient {
  /* fallback */
  background-color: #cddae2;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b9c6cf), to(#d4e0e8));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #b9c6cf, #d4e0e8);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #b9c6cf, #d4e0e8);
  /* IE 10 */
  background: -ms-linear-gradient(top, #b9c6cf, #d4e0e8);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #b9c6cf, #d4e0e8);
}

/* line 1, ../sass/_header.scss */
#header {
  display: table;
  padding-left: 20px;
  color: #fff;
  height: 32px;
}
/* line 7, ../sass/_header.scss */
#header .logo {
  margin-top: 8px;
}
/* line 10, ../sass/_header.scss */
#header .logo a {
  display: inline-block;
  width: 86px;
  height: 16px;
  background: url("../images/et-logo.png");
}
/* line 18, ../sass/_header.scss */
#header .links {
  margin-top: 7px;
}
/* line 21, ../sass/_header.scss */
#header .links a {
  color: #99cce1;
}

/* line 1, ../sass/_applauncher.scss */
#applauncher {
  font-size: 12px;
  background-color: #f4f4f5;
  margin-top: 20px;
}
/* line 6, ../sass/_applauncher.scss */
#applauncher .header {
  font-size: 14px;
  line-height: 16px;
  padding-right: 10px;
  height: 50px;
  color: #fff;
}
/* line 13, ../sass/_applauncher.scss */
#applauncher .header .logo {
  width: 45px;
  height: 50px;
  background: url("../images/imh-logo.png");
  float: left;
}
/* line 20, ../sass/_applauncher.scss */
#applauncher .header .text {
  padding-top: 8px;
  text-shadow: 1px 1px 1px #384249;
  font-weight: bold;
}
/* line 27, ../sass/_applauncher.scss */
#applauncher .apps {
  clear: both;
  padding: 10px 10px 0px 10px;
  color: #888888;
  border-bottom: 1px solid #ddd;
}
/* line 34, ../sass/_applauncher.scss */
#applauncher .footer {
  padding: 10px;
  color: #888888;
}
/* line 38, ../sass/_applauncher.scss */
#applauncher .footer .icon-partner-apps {
  color: #a8b2b9;
  font-size: 11px;
  padding: 0px 1px 1px 0px;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
/* line 49, ../sass/_applauncher.scss */
#applauncher ul {
  margin: 0;
  padding: 0;
}
/* line 54, ../sass/_applauncher.scss */
#applauncher li {
  list-style: none;
  clear: both;
  height: 26px;
  margin-bottom: 4px;
}
/* line 60, ../sass/_applauncher.scss */
#applauncher li .text {
  float: left;
  margin-left: 10px;
  padding-top: 4px;
}
/* line 67, ../sass/_applauncher.scss */
#applauncher a {
  display: inline-block;
  color: #888888;
}
/* line 72, ../sass/_applauncher.scss */
#applauncher a:hover {
  opacity: 0.5;
}
/* line 76, ../sass/_applauncher.scss */
#applauncher a:active {
  opacity: 0.75;
}
/* line 80, ../sass/_applauncher.scss */
#applauncher .al-icon {
  width: 26px;
  height: 26px;
  float: left;
}
/* line 86, ../sass/_applauncher.scss */
#applauncher .al-icon-email {
  background: url("../images/al-icons.png") 0 0;
}
/* line 87, ../sass/_applauncher.scss */
#applauncher .al-icon-mobile {
  background: url("../images/al-icons.png") 0 -26px;
}
/* line 88, ../sass/_applauncher.scss */
#applauncher .al-icon-cotweet {
  background: url("../images/al-icons.png") 0 -52px;
}
/* line 89, ../sass/_applauncher.scss */
#applauncher .al-icon-sites {
  background: url("../images/al-icons.png") 0 -78px;
}
/* line 90, ../sass/_applauncher.scss */
#applauncher .al-icon-automation {
  background: url("../images/al-icons.png") 0 -104px;
}
/* line 91, ../sass/_applauncher.scss */
#applauncher .al-icon-audience {
  background: url("../images/al-icons.png") 0 -130px;
}
/* line 92, ../sass/_applauncher.scss */
#applauncher .al-icon-report {
  background: url("../images/al-icons.png") 0 -156px;
}

/* line 1, ../sass/calendar.scss */
#calendar {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 10px 0px 10px;
  background-color: #f4f4f5;
  overflow: hidden;
}
/* line 8, ../sass/calendar.scss */
#calendar .week {
  clear: both;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #384249;
  height: 80px;
}
/* line 15, ../sass/calendar.scss */
#calendar .week .day {
  padding: 0px 5px;
  width: 14.28%;
  min-width: 140px;
  height: 80px;
  border-right: 1px solid #ddd;
}
/* line 23, ../sass/calendar.scss */
#calendar .week .today {
  position: relative;
  /* fallback */
  background-color: #f5efe6;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebf1f5), to(#feedd6));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ebf1f5, #feedd6);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ebf1f5, #feedd6);
  /* IE 10 */
  background: -ms-linear-gradient(top, #ebf1f5, #feedd6);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ebf1f5, #feedd6);
}
/* line 39, ../sass/calendar.scss */
#calendar .week .today::after {
  content: 'TODAY';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  min-width: 140px;
  height: 15px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  /* fallback */
  background-color: #fca93f;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdaf4b), to(#f8991e));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #fdaf4b, #f8991e);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #fdaf4b, #f8991e);
  /* IE 10 */
  background: -ms-linear-gradient(top, #fdaf4b, #f8991e);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #fdaf4b, #f8991e);
  box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  -moz-box-shadow: 0px 0px 2px #888;
}

/* line 1, ../sass/pulse.scss */
#pulse {
  padding: 10px;
  height: 206px;
}
/* line 5, ../sass/pulse.scss */
#pulse .logo {
  color: #fff;
}
/* line 9, ../sass/pulse.scss */
#pulse .footer {
  position: absolute;
  bottom: 10px;
  right: 50%;
}
