@import "colors";

.weeklyCalendar{
    background-color: @light-grey;
    border: 1px solid @medium-grey;
    border-radius: 4px;
}

.calendar-holder{
    position: relative;
    margin: 0;
    padding: 0;
}

.month-year{
    color: darken(@secondary, 10%);
    font-size: .75em;
    margin: 2px 0 2px 8px;
}

.week{
    margin: 0 8px 15px;
    border-left: 1px solid @medium-grey;
    border-bottom: 1px solid @medium-grey;
    height: 85px;
}

.day{
    color: @medium-grey;
    font-size: .75em;
    float: left;
    padding: 0 3px;
    width: 14.2857143%;
    height: 85px;
    border-right: 1px solid @medium-grey;
}

.day-of-week{
    float:left;
}

.date{
    float: right;
}
