@white: #fff;
@light-grey: #f0f0f1;
@medium-grey: #bebebe;

@primary: #fefffd; // very light grey
@secondary: #b1c0ca; // blueish grey

@highlight: #fb9d35;
@pulseh1: #4eabe1;
@pulseh2: @secondary;

/* NAVBAR */
@navbarText: #fff;
@navbarTextHighligh: @pulseh1;
