@white: #fff;
@light-grey: #f0f0f1;
@medium-grey: #bebebe;

@primary: #fefffd; // very light grey
@secondary: #b1c0ca; // blueish grey

@highlight: #fb9d35;
@pulse-h1: #4eabe1;
@pulse-h2: @secondary;

/* NAVBAR */
@navbar-text: #fff;
@navbar-text-highlight: @pulse-h1;
