@white: #fff;
@light-grey: #f0f0f1;
@medium-grey: #bebebe;
@dark-grey: darken(@medium-grey, 10%);

@primary: #fefffd; // very light grey
@secondary: #b1c0ca; // blueish grey

@highlight: #fb9d35; // orange
@pulse-h1: #4eabe1; // bright blue
@pulse-h2: @secondary;

/* NAVBAR */
@navbar-text: #fff;
@navbar-text-highlight: @pulse-h1;
