@import "colors";
@import "sidebar";
@import "navbar";
@import "calendar";

body{
    background-color: @primary;
    padding-top: 50px;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
