@import "colors";

.navbar-fixed-top {
    border: 0;
    color: @white;
}

.navbar-brand{
    margin-top: 4px;
}

.navbar-brand:hover, .navbar-brand:focus, {
    color: @pulse-h1 !important;
}

.navbar-inverse .navbar-nav>li>a{
    color: @navbar-text;
}
