@import "colors";

.navbar-fixed-top {
    border: 0;
    color: @white;
}

.navbar-brand{
    color: @white !important;
}

.navbar-brand:hover, .navbar-brand:focus, {
    color: @pulseh1 !important;
}

.navbar-inverse .navbar-nav>li>a{
    color: @navbarText;
}

// .navbar-inverse .navbar-nav:hover, .navbar-nav .navbar-nav:focus{
//     color: @pulseh1;
// }

// .navbar-inverse .navbar-nav>li>a{
//     color: @navbarText;
// }
// .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
//     color: @pulseh1;
// }
