@import "colors";

/* Hide for mobile, show later */
.sidebar {
  display: none;
  padding: 0 !important;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid @dark-grey;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.44);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.44);

  hr{
    border-top: 1px solid @dark-grey;
    padding: 0;
    margin: 0;
  }
  ul{
    margin-bottom: 0;
  }
  li{
    margin-left: 10px;
  }
  img{
    margin-right: 4px;
  }
  a{
    padding: 2px 0 2px 15px !important;
    font-size: 1em;
    color: @medium-grey;
  }
}

.nav-sidebar>li>a:hover, .nav>li>a:focus {
  color: @medium-grey !important;
  background-color: @white !important;
}

.nav-sidebar>li>a:active {
  color: @white !important;
  background-color: @highlight !important;
}


@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    left: 15px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: @light-grey;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: @highlight;
}
