*{
	font-family:sans-serif;
}
/*Begin Header*/
#nav {
	list-style: none;
	float:right;
	padding:0;
	margin: 10px 0;
}

#nav li {
	display: inline;
	color: white;
	padding: 0 7px;
	border-right: 1px solid #73797d;
	font-family: sans-serif;
	font-weight: 100;
	font-size: .8em;
}

#nav li a {
	color: #93c3d7;
	text-decoration: none;
}

#nav li:first-child {
	border: none;
}

#nav li:last-child {
	border: none;
	margin-right: 10px;
}

header {
	height: 40px;
	width: 100%;
	background: #3f4b53;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f4b53), color-stop(100%, #23272a));
	background: -moz-linear-gradient(top, #3f4b53 0%, #23272a 100%);
}

header h1 {
	color: white;
	font-size: 1.125em;
	font-family: sans-serif;
	float: left;
	font-weight: 100;
	margin: 10px 0 0 20px;
}
/*End Header*/

/*Begin Sidebar*/
.imh {
	background-image: url("images/imh-logo.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	float: left;
	margin: 5px 15px 0 3px;
}

.nav-sprites {
	background-image: url("images/nav-sprites.png");
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 5px;
}

.email {
	background-position: 0 0;
}

.mobile {
	background-position: 0px -32px;
}

.social {
	background-position: 0px -64px;
}

.sites {
	background-position: 0px -96px;
}

.studio {
	background-position: 0px -140px;
}

.audience {
	background-position: 0px -172px;
}

.report {
	background-position: 0px -204px;
}

.arrow {
	background-image:url("images/arrow.png");
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	float:left;
	margin: 0 5px;
	position: relative;
	top: 25%;
}

#hub {
	margin: 25px;
	width: 12%;
	border-radius: 5px;
	background-color: #f4f4f5;
	float: left;
}

#contact-container {
	border: 2px solid #e6e6e6;
}

#app-container {
	border-left: 2px solid #e6e6e6;
	border-right: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
}

#partner-container {
	border-left: 2px solid #e6e6e6;
	border-right: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
}

#imh-container {
	font-weight: bold;
	border-bottom: 1px solid gray;
	background-color: #fba435; /*Orange*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: sans-serif;
	color: white;
	padding: 12px;
	border: 2px solid #f8981d; 
}

#hub span {
	position: relative;
	top: 25%;
}

#hub a {
	color: gray;
	text-decoration: none;
	padding: 5px;
	height: 24px;
	display: inline-block;
	font-family: sans-serif;
	font-weight:100;
}

#hub a:hover {
	color: #2FA8DB;
}

#hub a:last-child{
	margin-bottom: 5px;
}

#partner-container a{
	font-size: .8em;
}
/*End Sidebar*/

/*Begin Calendar*/
#month {
	padding: 3px 0 0 10px;
	font-family:sans-serif;
	font-weight: 100;
	font-size: .87em;
}

#calendar{
	width: 85%;
	height: 130px;
	float: left;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
	background-color: #f4f4f5;
	color: gray;
}

#week-container div:first-child{
	margin: 0 0 0 10px;
}

#week-container div.day-container:last-child{
	border-right: 1px solid #E2DCDC;
}

.day-container {
	float: left;
	width: 14.03%;
	height: 90px;
	border-left: 1px solid #E2DCDC;
	border-bottom: 1px solid #E2DCDC;
}

.day{
	float:left;
	font-weight: 100;
	font-size: .8em;
}

.date {
	float:right;
	padding: 0 5px;
	font-weight: 100;
	font-size: .8em;
}

.today-marker {
	width: 13.9%;
	background-color: #fba435;
	margin: 0 auto;
	height: 110px;
	background-image: -moz-linear-gradient(top, #ebf1f5 0%, #fba435 50%, #fba435 100%);
	background-image: -webkit-linear-gradient(top, #ebf1f5 0%, #fba435 95%, #fba435 100%);
}

.today-marker div {
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-weight: 100;
	font-size: .8em;
}

/*End Calendar*/