
/*Begin Header*/
#nav {
	list-style: none;
	float:right;
	padding:0;
	margin: 10px 0;
}

#nav li {
	display: inline;
	color: white;
	padding: 0 7px;
	border-right: 1px solid #73797d;
}

#nav li a {
	color: #93c3d7;
	text-decoration: none;
}

#nav li:first-child {
	border: none;
}

#nav li:last-child {
	border: none;
	margin-right: 10px;
}

header {
	height: 40px;
	width: 100%;
	background: #3f4b53;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f4b53), color-stop(100%, #23272a));
	background: -moz-linear-gradient(top, #3f4b53 0%, #23272a 100%);
}

header h1 {
	color: white;
	font-size: 1.125em;
	font-family: sans-serif;
	float: left;
	font-weight: 100;
	margin: 10px 0 0 20px;
}
/*End Header*/

/*Begin Sidebar*/
.imh-logo {
	background-image: url("images/imh-logo.png");
	background-repeat: no-repeat;
	width: 30px;
	height:30px;
	float:left;
	margin:5px 5px;
}

#hub {
	margin: 25px;
	width: 12%;
	border-radius: 5px;
	background-color: #aaaaaa;
}

#imh-container {
	font-weight: bold;
	border-bottom: 1px solid gray;
	background-color: #fba435; /*Orange*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	padding: 12px;
}
/*End Sidebar*/